body {
    background: url("coffee_blur.jpg");
    font-family: 'Lobster', cursive;
    background-size: cover;
    
}
.title {
    color: white;
    text-align: center;
}

.name .title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}

.name {
    height: 100%;
    position: relative;
    font-family: 'Rock Salt', cursive;
}
